body {
  background-color: #999a9b;
}
.background-light-blue {
  background-color:lightblue;
}
.background-blue {
  background-color:rgb(0, 0, 209);
}
.background-dark-blue {
  background-color: rgb(0, 0, 150);
}
.background-white {
  background-color: white;
}
.background-dark {
  background-color:#24292e;
}
.background-light-dark {
  background-color: #505861;
}
.backgrount-light {
  background-color: #999a9b;  
}
.background-green {
  background-color: #528d52;
}
.background-red {
  background-color: #944944;
}
#start-training {
  background-color: #999a9b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}