<div class="background-light-dark bordered rounded panel">
  <div class="intro-item"><h2>You are done learning {{this}}</h2></div>
  <div class="intro-item"><a href="/wordpacks" data-navigo class="rounded background-light-dark bordered" id="start-training">Go back to Wordpacks</a></div>
</div>