<div id='word-panel' class="background-light-dark bordered rounded panel">
  <div class="intro-item">
    <h2>{{name}}</h2>
  </div>
  <div id='substitute-definition' class='intro-item'>
    <span>Click to show definition</span>
  </div>
  <div id='definition' class="intro-item">
    <span>{{definition}}</span>
  </div>
  <div class="intro-item">
    <span>Remembered it quickly and correctly?</span>
  </div>
  <div class="intro-item" id='buttons'>
    <button class="rounded-left background-green" id="answer-yes" type="button">Yes</button>
    <button class="rounded-right background-red" id="answer-no" type="button">Nope</button>
  </div>
</div>
</div>