<div class="background-light-dark bordered rounded panel">
  <div class="intro-item"><h2>{{name}} in {{language}}</h2></div>
  <div class="intro-item"><h1>{{description}}</h1></div>
  <div class="intro-item"><span>There are {{count}} words in this pack.</span></div>
  <div class="intro-item"><button class="rounded background-light-dark bordered" id="start-training" type="button">Start</button></div>
</div>